/***********************/
/* FOOTER */
/***********************/
.footer {
  background-color: #0d6ddf;
  padding: 4rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  color: #fff;
}

.logo-footer {
  font-size: 3rem;
  font-weight: 500;
  color: #fff !important;
  letter-spacing: 0.5px;
}

.footer-description {
  font-size: 1.4rem;
  color: #eee;
  opacity: 0.7;
}

.footer-links ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 1.4rem;
  font-weight: 500;
}
